<ion-header>
    <ion-navbar color = "dark">
      <ion-title>
          <img src="assets/imgs/HAPPY_CODE_LOGO.png" width="150" height="50px">
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding id= "main">
    <div id="logo">
        <ion-icon ios="ios-game-controller-b"
  md="md-game-controller-b"></ion-icon>
        <sup><ion-icon name="code"></ion-icon></sup>
       My cloud computer<sup>+ - * /</sup>
        <ion-icon name="git-branch"></ion-icon>
    </div>
    <div id="landing" *ngIf = "counter == 0 && done === false">
      <h3>Você contribui para o desperdício de alimentos? </h3>
      <button ion-button (click) = "onStart()" id = "start">INICIAR QUIZ</button>
    </div>
    <div id = "minidash" *ngIf = "counter > 0 && done === false">
      <span>Question {{counter + "/15"}}</span>
      <span>{{timerValue}} Seconds</span>
    </div>
  
  
    <!-- science -->
    <div class="quiz" *ngIf = "counter == 1">
      <h1>Disperdício de alimentos</h1>
          <ion-icon name="paper"></ion-icon>
  
      <h1>Despercício de alimentos</h1>
      <p>>O Brasil desperdiça alimento </p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO </button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 2">
      <h1>Despercício de alimentos</h1>
      <p> Minha cachora se chama Betse?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 3">
      <h1>Despercício de alimentos</h1>
      <p> A terra tem uma lua?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 4">
      <h1>Despercício de alimentos</h1>
      <p> is a transient astronomical event that occurs during the last
  stellar evolutionary stages of a star's life, either a massive star or
  a white dwarf, whose destruction is marked by one final, titanic
  explosion</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 5">
      <h1>Despercício de alimentos</h1>
      <p>É verdade que sol é da cor branca?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <!-- history -->
  
    <div class="quiz" *ngIf = "counter == 6">
      <h1>Despercício de alimentos</h1>
      <p> O nome da Gabi termina com a?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 7">
      <h1>Despercício de alimentos</h1>
      <p>Eu programei isso?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 8">
      <h1>Despercício de alimentos</h1>
      <p>O desmatamento não existe?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 9">
      <h1>Despercício de alimentos</h1>
      <p>invented the first iphone charger</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 10">
      <h1>Despercício de alimentos</h1>
      <p>Eu falo sempre oi?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <!-- programming -->
  
    <div class="quiz" *ngIf = "counter == 11">
      <h1>Despercício de alimentos</h1>
      <p>Levei balinhas coloridas para o vestibular?</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 12">
      <h1>Despercício de alimentos</h1>
      <p>The arithmetic comparison operators in programming work much
  like the symbols we use in mathematics.  Each of these operators
  returns a true or a false.</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 13">
      <h1>Despercício de alimentos</h1>
      <p>There is a special operator known as the conditional operator
  that can be used to create short expressions that work like if/else
  statements.</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <div class="quiz" *ngIf = "counter == 14">
      <h1>Despercício de alimentos</h1>
      <p>you can declare a variable as a string and also perform
  mathematical operations on it</p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO
  
        </button>
      </div>
      <button ion-button id = "proceed" (click) = "proceed()"
  block>PRÓXIMO</button>
    </div>
  
    <!--final-->
  
    <div class="quiz" *ngIf = "counter == 15">
      <h1>Despercício de alimentos</h1>
      <p>In MVC(Model View Controllers) the Controller act as an
  interface between Model and View components to process all the
  business logic and incoming requests </p>
      <div class="btn-row">
        <button ion-button color = "positive" (click) =
  "scoreTracker('true')">VERDADE</button>
        <button ion-button color = "nagative" (click) =
  "scoreTracker('false')">FALSO</button>
      </div>
      <button ion-button id = "proceed" (click) = "viewResults()"
  block>SEU RESULTADO</button>
    </div>
  
  
    <div id="score" *ngIf = "counter > 0 && done === true">
      <div id="time">{{timerValue}}s</div>
      <div id="results"><b>Your Score</b><br>{{score}}/15 <br>
        <div class="stars">
          <ion-icon class = "star" name="star" *ngIf = "score > 5"></ion-icon>
          <ion-icon class = "star" name="star" *ngIf = "score > 9"></ion-icon>
          <ion-icon class = "star" name="star" *ngIf = "score > 12"></ion-icon>
        </div>
      </div>
      <button ion-button (click) = "reset()">RECOMEÇAR</button>
      <div class="results-table">
        <div class="row">
          <div *ngFor="let x of scores">
            <span id = "wrong" *ngIf = "x == 0">{{x}}</span>
            <span id = "right" *ngIf = "x == 1">{{x}}</span>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  </ion-content>
  